node_modules
.DS_Store
dist
dist-ssr
*.local
/.idea
/.vscode

# production
/main
/dist
/src/out

# debug
npm-debug.log*

# test
/test-results
/tests-examples
/playwright-report


# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/misc.xml
.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
